# Node modules
frontend/node_modules/
backend/node_modules/

# Logs
*.log

# Build directories
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Environment files
.env
